<a href="https://colab.research.google.com/github/Sumitampba/ISBMLUL2B20/blob/main/G_16_Landing_to_Staging_V2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [117]:
# Import necessary librar
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType, DateType
from pyspark.sql.functions import col

# Initialize Spark session
spark = SparkSession.builder \
    .appName("Data Ingestion") \
    .getOrCreate()

In [118]:
# Define schema for orders.csv
orders_schema = StructType([
    StructField("index", StringType(), True),
    StructField("order_id", StringType(), True),
    StructField("order_date", StringType(), True),
    StructField("item_id", StringType(), True),
    StructField("qty_ordered", IntegerType(), True),
    StructField("price", IntegerType(), True),
    StructField("value", FloatType(), True),
    StructField("discount_amount", FloatType(), True),
    StructField("total", FloatType(), True),
    StructField("category", StringType(), True),
    StructField("payment_method", StringType(), True),
    StructField("cust_id", StringType(), True),
    StructField("final_status", StringType(), True)
])

In [119]:
# Read orders.csv
orders_df = spark.read.csv("/content/sample_data/Sales_landing_zone/orders/orders_01_21.csv", schema=orders_schema, header=True)
orders_df.show(10)

+-----+---------+----------+-------+-----------+-----+------+---------------+------+-----------------+---------------+-------+------------+
|index| order_id|order_date|item_id|qty_ordered|price| value|discount_amount| total|         category| payment_method|cust_id|final_status|
+-----+---------+----------+-------+-----------+-----+------+---------------+------+-----------------+---------------+-------+------------+
|  296|100438643|  21/01/21| 718698|          2| NULL|6979.2|            0.0|6979.2|Mobiles & Tablets|            cod|   6702|   cancelled|
|  297|100439395|  24/01/21| 719994|          2| NULL|6979.2|            0.0|6979.2|Mobiles & Tablets|            cod|   6702|    received|
|  298|100439912|  25/01/21| 721015|          2| NULL| 255.9|            0.0| 255.9|    Men's Fashion|            cod|   6702|   cancelled|
|  407|100437996|  18/01/21| 717518|          2| NULL|1894.6|            0.0|1894.6|Mobiles & Tablets|     Easypay_MA|  55731|   cancelled|
|  606|100430519|  01/01/21| 703609|          2| NULL|  49.9|            0.0|  49.9|       Appliances|easypay_voucher|  44445|   cancelled|
|  607|100432179|  04/01/21| 706727|          2| NULL|2552.1|            0.0|2552.1|       Appliances|            cod|  44445|    received|
|  608|100432181|  04/01/21| 706729|          2| NULL|  49.9|            0.0|  49.9|       Appliances|            cod|  44445|    received|
|  609|100432188|  04/01/21| 706755|          2| NULL| 139.9|            0.0| 139.9|       Appliances|            cod|  44445|    received|
|  610|100433652|  08/01/21| 709629|          2| NULL|  49.9|            0.0|  49.9|    Men's Fashion|            cod|  44445|    received|
|  611|100433652|  08/01/21| 709631|          2| NULL|  49.9|            0.0|  49.9|    Men's Fashion|            cod|  44445|    received|
+-----+---------+----------+-------+-----------+-----+------+---------------+------+-----------------+---------------+-------+------------+
only showing top 10 rows

In [120]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType, DateType

# Define the schema for the JSON file
customers_schema = StructType([
    StructField("index", IntegerType(), True),
    StructField("order_id", StringType(), True),
    StructField("order_date", StringType(), True),
    StructField("item_id", StringType(), True),
    StructField("qty_ordered", IntegerType(), True),
    StructField("price", FloatType(), True),
    StructField("value", FloatType(), True),
    StructField("discount_amount", FloatType(), True),
    StructField("total", FloatType(), True),
    StructField("category", StringType(), True),
    StructField("payment_method", StringType(), True),
    StructField("cust_id", StringType(), True),
    StructField("final_status", StringType(), True)
])

In [121]:
from pyspark.sql import SparkSession

# Create or get Spark session
spark = SparkSession.builder.appName("ReadJSON").getOrCreate()

def readJsonFile(path):
    # Read the JSON file into a DataFrame without schema
    df = spark.read.json(path)

    # Show the inferred schema
    df.printSchema()

    # Display the DataFrame
    df.show(truncate=False)

# Example usage
readJsonFile("/content/sample_data/Sales_landing_zone/customers/customers.json")

root
 |-- City: string (nullable = true)
 |-- County: string (nullable = true)
 |-- Customer Since: string (nullable = true)
 |-- E Mail: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Place Name: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Zip: long (nullable = true)
 |-- age: double (nullable = true)
 |-- cust_id: double (nullable = true)
 |-- full_name: string (nullable = true)

+------------+-----------+--------------+----------------------------+------+------------+---------+-----+-----+----+-------+------------------+
|City        |County     |Customer Since|E Mail                      |Gender|Place Name  |Region   |State|Zip  |age |cust_id|full_name         |
+------------+-----------+--------------+----------------------------+------+------------+---------+-----+-----+----+-------+------------------+
|Vinson      |Harmon     |8/22/2006     |jani.titus@gmail.com        |F     |Vinson      |South    |OK   |73571|43.0|60124.0|Titus, Jani       |
|Graham      |Bradford   |2/4/1981      |lee.eaker@gmail.com         |M     |Graham      |South    |FL   |32042|28.0|42485.0|Eaker, Lee        |
|Grand Forks |Grand Forks|6/27/2010     |jason.simoneau@gmail.com    |M     |Grand Forks |Midwest  |ND   |58201|65.0|53620.0|Simoneau, Jason   |
|Laupahoehoe |Hawaii     |4/3/1992      |grover.bayless@yahoo.com    |M     |Laupahoehoe |West     |HI   |96764|33.0|56836.0|Bayless, Grover   |
|Glendo      |Platte     |6/21/2015     |albertina.bensen@gmail.com  |F     |Glendo      |West     |WY   |82213|73.0|60125.0|Bensen, Albertina |
|Farmington  |Oconee     |10/19/2016    |drema.galle@gmail.com       |F     |Farmington  |South    |GA   |30638|64.0|51286.0|Galle, Drema      |
|Nashville   |Davidson   |7/10/2011     |sheryll.newsome@gmail.com   |F     |Nashville   |South    |TN   |37245|75.0|60126.0|Newsome, Sheryll  |
|Warwick     |Kent       |5/11/1995     |bernard.dewald@hotmail.co.uk|M     |Warwick     |Northeast|RI   |2889 |52.0|60127.0|Dewald, Bernard   |
|Sarasota    |Sarasota   |8/25/1998     |hilario.brammer@hotmail.com |M     |Sarasota    |South    |FL   |34277|31.0|60128.0|Brammer, Hilario  |
|Brownstown  |Fayette    |3/31/2017     |elizbeth.raminez@gmail.com  |F     |Brownstown  |Midwest  |IL   |62418|71.0|56449.0|Raminez, Elizbeth |
|Mill Springs|Wayne      |3/5/2010      |robbie.dinapoli@yahoo.co.uk |M     |Mill Springs|South    |KY   |42632|43.0|60129.0|Dinapoli, Robbie  |
|Brighton    |Jersey     |8/24/2016     |rachell.murguia@hotmail.com |F     |Brighton    |Midwest  |IL   |62012|66.0|60130.0|Murguia, Rachell  |
|Phoenix     |Maricopa   |7/20/2003     |lauran.mayo@gmail.com       |F     |Phoenix     |West     |AZ   |85015|38.0|31655.0|Mayo, Lauran      |
|Fort Smith  |Sebastian  |3/11/1986     |abe.waymire@yahoo.ca        |M     |Fort Smith  |South    |AR   |72913|71.0|60131.0|Waymire, Abe      |
|Drew        |Sunflower  |12/22/2005    |lenny.blount@apple.com      |M     |Drew        |South    |MS   |38737|64.0|15106.0|Blount, Lenny     |
|Snyder      |Dodge      |1/24/2013     |romeo.hopps@outlook.com     |M     |Snyder      |Midwest  |NE   |68664|38.0|37011.0|Hopps, Romeo      |
|Riverton    |Burlington |5/28/2010     |florentino.stough@gmail.com |M     |Riverton    |Northeast|NJ   |8076 |60.0|52163.0|Stough, Florentino|
|Huntington  |Cabell     |1/17/2003     |harrison.criss@yahoo.com    |M     |Huntington  |South    |WV   |25714|75.0|60132.0|Criss, Harrison   |
|Benton      |Benton     |7/12/2004     |micah.coutee@gmail.com      |M     |Benton      |South    |AR   |72019|18.0|44511.0|Coutee, Micah     |
|El Monte    |Los Angeles|11/10/2015    |wallace.henrich@yahoo.com   |M     |El Monte    |West     |CA   |91734|46.0|60133.0|Henrich, Wallace  |
+------------+-----------+--------------+----------------------------+------+------------+---------+-----+-----+----+-------+------------------+
only showing top 20 rows

In [122]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *

# Initialize Spark session
spark = SparkSession.builder \
    .appName("Read Orders Data") \
    .getOrCreate()

# Define schema for orders.csv
orders_schema = StructType([
    StructField("index", StringType(), True),
    StructField("order_id", StringType(), True),
    StructField("order_date", StringType(), True),
    StructField("item_id", StringType(), True),
    StructField("qty_ordered", IntegerType(), True),
    StructField("price", FloatType(), True),
    StructField("value", FloatType(), True),
    StructField("discount_amount", FloatType(), True),
    StructField("total", FloatType(), True),
    StructField("category", StringType(), True),
    StructField("payment_method", StringType(), True),
    StructField("cust_id", StringType(), True),
    StructField("final_status", StringType(), True)
])
# Read from landing zone into dataframe
orders_df.show(10)

# Convert 'order_date' to DateType
#Reformatting the Existing Order_date column
from pyspark.sql.functions import to_date, col, year, month

# Assuming orders_df is already defined and loaded
orders_df = orders_df.withColumn("order_date", to_date(col("order_date"), "dd/MM/yy"))

# Add 'year' and 'month' columns
orders_df = orders_df.withColumn('year', year(col("order_date"))) \
                     .withColumn('month', month(col("order_date")))

# Show the DataFrame to verify
orders_df.show(truncate=False)

+-----+---------+----------+-------+-----------+-----+------+---------------+------+-----------------+---------------+-------+------------+
|index| order_id|order_date|item_id|qty_ordered|price| value|discount_amount| total|         category| payment_method|cust_id|final_status|
+-----+---------+----------+-------+-----------+-----+------+---------------+------+-----------------+---------------+-------+------------+
|  296|100438643|  21/01/21| 718698|          2| NULL|6979.2|            0.0|6979.2|Mobiles & Tablets|            cod|   6702|   cancelled|
|  297|100439395|  24/01/21| 719994|          2| NULL|6979.2|            0.0|6979.2|Mobiles & Tablets|            cod|   6702|    received|
|  298|100439912|  25/01/21| 721015|          2| NULL| 255.9|            0.0| 255.9|    Men's Fashion|            cod|   6702|   cancelled|
|  407|100437996|  18/01/21| 717518|          2| NULL|1894.6|            0.0|1894.6|Mobiles & Tablets|     Easypay_MA|  55731|   cancelled|
|  606|100430519|  01/01/21| 703609|          2| NULL|  49.9|            0.0|  49.9|       Appliances|easypay_voucher|  44445|   cancelled|
|  607|100432179|  04/01/21| 706727|          2| NULL|2552.1|            0.0|2552.1|       Appliances|            cod|  44445|    received|
|  608|100432181|  04/01/21| 706729|          2| NULL|  49.9|            0.0|  49.9|       Appliances|            cod|  44445|    received|
|  609|100432188|  04/01/21| 706755|          2| NULL| 139.9|            0.0| 139.9|       Appliances|            cod|  44445|    received|
|  610|100433652|  08/01/21| 709629|          2| NULL|  49.9|            0.0|  49.9|    Men's Fashion|            cod|  44445|    received|
|  611|100433652|  08/01/21| 709631|          2| NULL|  49.9|            0.0|  49.9|    Men's Fashion|            cod|  44445|    received|
+-----+---------+----------+-------+-----------+-----+------+---------------+------+-----------------+---------------+-------+------------+
only showing top 10 rows

+-----+---------+----------+-------+-----------+-----+------+---------------+------+-----------------+---------------+-------+------------+----+-----+
|index|order_id |order_date|item_id|qty_ordered|price|value |discount_amount|total |category         |payment_method |cust_id|final_status|year|month|
+-----+---------+----------+-------+-----------+-----+------+---------------+------+-----------------+---------------+-------+------------+----+-----+
|296  |100438643|2021-01-21|718698 |2          |NULL |6979.2|0.0            |6979.2|Mobiles & Tablets|cod            |6702   |cancelled   |2021|1    |
|297  |100439395|2021-01-24|719994 |2          |NULL |6979.2|0.0            |6979.2|Mobiles & Tablets|cod            |6702   |received    |2021|1    |
|298  |100439912|2021-01-25|721015 |2          |NULL |255.9 |0.0            |255.9 |Men's Fashion    |cod            |6702   |cancelled   |2021|1    |
|407  |100437996|2021-01-18|717518 |2          |NULL |1894.6|0.0            |1894.6|Mobiles & Tablets|Easypay_MA     |55731  |cancelled   |2021|1    |
|606  |100430519|2021-01-01|703609 |2          |NULL |49.9  |0.0            |49.9  |Appliances       |easypay_voucher|44445  |cancelled   |2021|1    |
|607  |100432179|2021-01-04|706727 |2          |NULL |2552.1|0.0            |2552.1|Appliances       |cod            |44445  |received    |2021|1    |
|608  |100432181|2021-01-04|706729 |2          |NULL |49.9  |0.0            |49.9  |Appliances       |cod            |44445  |received    |2021|1    |
|609  |100432188|2021-01-04|706755 |2          |NULL |139.9 |0.0            |139.9 |Appliances       |cod            |44445  |received    |2021|1    |
|610  |100433652|2021-01-08|709629 |2          |NULL |49.9  |0.0            |49.9  |Men's Fashion    |cod            |44445  |received    |2021|1    |
|611  |100433652|2021-01-08|709631 |2          |NULL |49.9  |0.0            |49.9  |Men's Fashion    |cod            |44445  |received    |2021|1    |
|612  |100435045|2021-01-10|711973 |2          |NULL |187.5 |0.0            |187.5 |Men's Fashion    |cod            |44445  |received    |2021|1    |
|613  |100435045|2021-01-10|711975 |2          |NULL |150.0 |0.0            |150.0 |Men's Fashion    |cod            |44445  |received    |2021|1    |
|614  |100435045|2021-01-10|711977 |2          |NULL |37.5  |0.0            |37.5  |Men's Fashion    |cod            |44445  |received    |2021|1    |
|615  |100435045|2021-01-10|711979 |2          |NULL |37.5  |0.0            |37.5  |Men's Fashion    |cod            |44445  |received    |2021|1    |
|616  |100435401|2021-01-11|712668 |2          |NULL |465.2 |0.0            |465.2 |Appliances       |cod            |44445  |received    |2021|1    |
|737  |100431010|2021-01-02|704564 |2          |NULL |112.0 |0.0            |112.0 |Mobiles & Tablets|cod            |43257  |cancelled   |2021|1    |
|771  |100437991|2021-01-18|717504 |2          |NULL |37.5  |0.0            |37.5  |Men's Fashion    |cod            |35698  |received    |2021|1    |
|772  |100437991|2021-01-18|717506 |2          |NULL |69.9  |0.0            |69.9  |Men's Fashion    |cod            |35698  |received    |2021|1    |
|773  |100437991|2021-01-18|717508 |2          |NULL |29.9  |0.0            |29.9  |Women's Fashion  |cod            |35698  |received    |2021|1    |
|987  |100430996|2021-01-02|704540 |2          |NULL |900.0 |0.0            |900.0 |Others           |cod            |59587  |cancelled   |2021|1    |
+-----+---------+----------+-------+-----------+-----+------+---------------+------+-----------------+---------------+-------+------------+----+-----+
only showing top 20 rows

In [123]:
spark.sql("CREATE SCHEMA IF NOT EXISTS staging")

DataFrame[]

In [124]:
schemas = spark.sql("SHOW SCHEMAS")
schemas.show(truncate=False)

+---------+
|namespace|
+---------+
|default  |
|staging  |
+---------+

In [125]:
# Check if the database exists
databases = spark.sql("SHOW DATABASES")
print(databases)

# Check if the table exists
tables = spark.sql("SHOW TABLES IN staging")
print(tables)

DataFrame[namespace: string]
DataFrame[namespace: string, tableName: string, isTemporary: boolean]

In [126]:
def processCSVFile(path):
    # Read the CSV file into a DataFrame using the schema
    df = spark.read.csv(path, header=True, schema=orders_schema)

    # Convert 'order_date' to a proper DateType
    df = df.withColumn("order_date", to_date(col("order_date"), "dd-MM-yyyy"))

    # Extract 'month' and 'year' from 'order_date'
    df = df.withColumn('month', month(col("order_date"))) \
           .withColumn('year', year(col("order_date")))

    # Define the output path for Parquet files
    parquet_path = "/content/sample_data/Sales_landing_zone/orders/"

    # Write the DataFrame to Parquet files, partitioned by 'year' and 'month'
    df.write.format("parquet") \
           .partitionBy("year", "month") \
           .mode("append") \
           .save(parquet_path)


processCSVFile("/content/sample_data/Sales_landing_zone/orders/orders_01_21.csv")

In [127]:
from pyspark.sql import SparkSession

# Initialize Spark session with Hive support
spark = SparkSession.builder \
    .appName("Spark with Hive") \
    .config("spark.sql.catalogImplementation", "hive") \
    .enableHiveSupport() \
    .getOrCreate()

In [128]:
# Assuming you have a DataFrame `sales_df` with the schema defined

# Write DataFrame to a table
orders_df.write.mode("overwrite").saveAsTable("staging.orders")

In [129]:
spark.sql("DESCRIBE staging.orders").show(truncate=False)

+---------------+---------+-------+
|col_name       |data_type|comment|
+---------------+---------+-------+
|index          |string   |NULL   |
|order_id       |string   |NULL   |
|order_date     |date     |NULL   |
|item_id        |string   |NULL   |
|qty_ordered    |int      |NULL   |
|price          |int      |NULL   |
|value          |float    |NULL   |
|discount_amount|float    |NULL   |
|total          |float    |NULL   |
|category       |string   |NULL   |
|payment_method |string   |NULL   |
|cust_id        |string   |NULL   |
|final_status   |string   |NULL   |
|year           |int      |NULL   |
|month          |int      |NULL   |
+---------------+---------+-------+

In [130]:
processCSVFile("/content/sample_data/Sales_landing_zone/orders/orders_04_21.csv")

In [131]:
# Read the CSV file
orders_df = spark.read.format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load("/content/sample_data/Sales_landing_zone/orders/orders_01_21.csv")

# Save as Parquet
orders_df.write.format("parquet") \
    .mode("overwrite") \
    .save("/content/sample_data/Sales_landing_zone/orders_parquet/")

In [132]:
orders_df.printSchema()

root
 |-- index: integer (nullable = true)
 |-- order_id: integer (nullable = true)
 |-- order_date: string (nullable = true)
 |-- item_id: integer (nullable = true)
 |-- qty_ordered: integer (nullable = true)
 |-- price: double (nullable = true)
 |-- value: double (nullable = true)
 |-- discount_amount: double (nullable = true)
 |-- total: double (nullable = true)
 |-- category: string (nullable = true)
 |-- payment_method: string (nullable = true)
 |-- cust_id: integer (nullable = true)
 |-- final_status: string (nullable = true)

In [133]:
orders_df.show(10)

+-----+---------+----------+-------+-----------+------+------+---------------+------+-----------------+---------------+-------+------------+
|index| order_id|order_date|item_id|qty_ordered| price| value|discount_amount| total|         category| payment_method|cust_id|final_status|
+-----+---------+----------+-------+-----------+------+------+---------------+------+-----------------+---------------+-------+------------+
|  296|100438643|  21/01/21| 718698|          2|6979.2|6979.2|            0.0|6979.2|Mobiles & Tablets|            cod|   6702|   cancelled|
|  297|100439395|  24/01/21| 719994|          2|6979.2|6979.2|            0.0|6979.2|Mobiles & Tablets|            cod|   6702|    received|
|  298|100439912|  25/01/21| 721015|          2| 255.9| 255.9|            0.0| 255.9|    Men's Fashion|            cod|   6702|   cancelled|
|  407|100437996|  18/01/21| 717518|          2|1894.6|1894.6|            0.0|1894.6|Mobiles & Tablets|     Easypay_MA|  55731|   cancelled|
|  606|100430519|  01/01/21| 703609|          2|  49.9|  49.9|            0.0|  49.9|       Appliances|easypay_voucher|  44445|   cancelled|
|  607|100432179|  04/01/21| 706727|          2|2552.1|2552.1|            0.0|2552.1|       Appliances|            cod|  44445|    received|
|  608|100432181|  04/01/21| 706729|          2|  49.9|  49.9|            0.0|  49.9|       Appliances|            cod|  44445|    received|
|  609|100432188|  04/01/21| 706755|          2| 139.9| 139.9|            0.0| 139.9|       Appliances|            cod|  44445|    received|
|  610|100433652|  08/01/21| 709629|          2|  49.9|  49.9|            0.0|  49.9|    Men's Fashion|            cod|  44445|    received|
|  611|100433652|  08/01/21| 709631|          2|  49.9|  49.9|            0.0|  49.9|    Men's Fashion|            cod|  44445|    received|
+-----+---------+----------+-------+-----------+------+------+---------------+------+-----------------+---------------+-------+------------+
only showing top 10 rows

In [134]:
spark.sql("DESCRIBE staging.orders").show(truncate=False)

+---------------+---------+-------+
|col_name       |data_type|comment|
+---------------+---------+-------+
|index          |string   |NULL   |
|order_id       |string   |NULL   |
|order_date     |date     |NULL   |
|item_id        |string   |NULL   |
|qty_ordered    |int      |NULL   |
|price          |int      |NULL   |
|value          |float    |NULL   |
|discount_amount|float    |NULL   |
|total          |float    |NULL   |
|category       |string   |NULL   |
|payment_method |string   |NULL   |
|cust_id        |string   |NULL   |
|final_status   |string   |NULL   |
|year           |int      |NULL   |
|month          |int      |NULL   |
+---------------+---------+-------+

In [135]:
import os
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType
from pyspark.sql.functions import to_date, col, month, year
from datetime import datetime

# Create or get Spark session
spark = SparkSession.builder.appName("MonthlyDataIngestion").getOrCreate()

def processMonthlyData(input_dir):
    # List all files in the directory
    files = [os.path.join(input_dir, f) for f in os.listdir(input_dir) if f.endswith(".csv")]

    for file in files:
        # Read the CSV file into a DataFrame using the schema
        df = spark.read.csv(file, header=True, schema=orders_schema)

        # Convert 'order_date' to a proper DateType
        df = df.withColumn("order_date", to_date(col("order_date"), "dd-MM-yyyy"))

        # Extract 'month' and 'year' from 'order_date'
        df = df.withColumn('month', month(col("order_date"))) \
               .withColumn('year', year(col("order_date")))

        # Define the output path for Parquet files
        parquet_path = "/content/sample_data/Sales_landing_zone/orders/"

        # Write the DataFrame to Parquet files, partitioned by 'year' and 'month'
        df.write.format("parquet") \
               .partitionBy("year","month") \
               .mode("append") \
               .save(parquet_path)

# Example
input_directory = "/content/sample_data/Sales_landing_zone/orders/"
processMonthlyData(input_directory)

In [136]:
# Read CSV data with basePath option
stores_df = (spark.read
             .option("header", True)
             .option("inferSchema", True)
             .csv("/content/sample_data/Sales_landing_zone/orders/orders_01_21.csv"))

In [137]:
# Define the schema with partition columns
stores_schema = StructType([
    StructField("index", IntegerType(), True),
    StructField("order_id", IntegerType(), True),
    StructField("order_date", StringType(), True),
    StructField("item_id", IntegerType(), True),
    StructField("qty_ordered", IntegerType(), True),
    StructField("price", DoubleType(), True),
    StructField("value", DoubleType(), True),
    StructField("discount_amount", DoubleType(), True),
    StructField("total", DoubleType(), True),
    StructField("category", StringType(), True),
    StructField("payment_method", StringType(), True),
    StructField("cust_id", IntegerType(), True),
    StructField("final_status", StringType(), True),
    StructField("year", IntegerType(), True),
    StructField("month", IntegerType(), True)
])

# Read and write data with partitioning
stores_df = (spark.read
             .option("header", True)
             .option("inferSchema", True)
             .csv("/content/sample_data/Sales_landing_zone/orders/*.csv"))


# Parse the order_date column and extract year and month
stores_df = stores_df.withColumn("order_date", to_date(col("order_date"), "dd/MM/yy")) \
                     .withColumn("year", year(col("order_date"))) \
                     .withColumn("month", month(col("order_date")))

# Write to a new table with partition columns
stores_df.write.format("parquet") \
               .mode("overwrite") \
               .partitionBy("year", "month") \
               .saveAsTable("staging.stores")

stores_df.show(10)

+-----+---------+----------+-------+-----------+-----+-----+---------------+---------+-------------+--------------+-------+------------+----+-----+
|index| order_id|order_date|item_id|qty_ordered|price|value|discount_amount|    total|     category|payment_method|cust_id|final_status|year|month|
+-----+---------+----------+-------+-----------+-----+-----+---------------+---------+-------------+--------------+-------+------------+----+-----+
|   12|100403034|2020-12-24| 656937|          2|254.8|254.8|       39.80628|214.99372|   Appliances|       Easypay|  42485|   cancelled|2020|   12|
|   13|100403034|2020-12-24| 656938|          2|315.5|315.5|       49.28917|266.21083|   Appliances|       Easypay|  42485|   cancelled|2020|   12|
|   14|100403034|2020-12-24| 656939|          2| 69.8| 69.8|       10.90455| 58.89545|Home & Living|       Easypay|  42485|   cancelled|2020|   12|
|   15|100403077|2020-12-24| 657023|          2|254.8|254.8|       39.80628|214.99372|   Appliances|       Easypay|  42485|   cancelled|2020|   12|
|   16|100403077|2020-12-24| 657024|          2|315.5|315.5|       49.28917|266.21083|   Appliances|       Easypay|  42485|   cancelled|2020|   12|
|   17|100403077|2020-12-24| 657025|          2| 69.8| 69.8|       10.90455| 58.89545|Home & Living|       Easypay|  42485|   cancelled|2020|   12|
|   18|100403411|2020-12-24| 657547|          2|254.8|254.8|       39.80628|214.99372|   Appliances|       Easypay|  42485|   cancelled|2020|   12|
|   19|100403411|2020-12-24| 657548|          2|315.5|315.5|       49.28917|266.21083|   Appliances|       Easypay|  42485|   cancelled|2020|   12|
|   20|100403411|2020-12-24| 657549|          2| 69.8| 69.8|       10.90455| 58.89545|Home & Living|       Easypay|  42485|   cancelled|2020|   12|
|   21|100403502|2020-12-24| 657702|          2|254.8|254.8|       39.80628|214.99372|   Appliances|       Easypay|  42485|   cancelled|2020|   12|
+-----+---------+----------+-------+-----------+-----+-----+---------------+---------+-------------+--------------+-------+------------+----+-----+
only showing top 10 rows

In [138]:
# Execute SQL query
result_df = spark.sql("SELECT * FROM staging.stores LIMIT 10")

# Display the result
result_df.show()

# List all tables in the staging database
spark.sql("SHOW TABLES IN staging").show()

+-----+---------+----------+-------+-----------+-----+-----+---------------+---------+-------------+--------------+-------+------------+----+-----+
|index| order_id|order_date|item_id|qty_ordered|price|value|discount_amount|    total|     category|payment_method|cust_id|final_status|year|month|
+-----+---------+----------+-------+-----------+-----+-----+---------------+---------+-------------+--------------+-------+------------+----+-----+
|   12|100403034|2020-12-24| 656937|          2|254.8|254.8|       39.80628|214.99372|   Appliances|       Easypay|  42485|   cancelled|2020|   12|
|   13|100403034|2020-12-24| 656938|          2|315.5|315.5|       49.28917|266.21083|   Appliances|       Easypay|  42485|   cancelled|2020|   12|
|   14|100403034|2020-12-24| 656939|          2| 69.8| 69.8|       10.90455| 58.89545|Home & Living|       Easypay|  42485|   cancelled|2020|   12|
|   15|100403077|2020-12-24| 657023|          2|254.8|254.8|       39.80628|214.99372|   Appliances|       Easypay|  42485|   cancelled|2020|   12|
|   16|100403077|2020-12-24| 657024|          2|315.5|315.5|       49.28917|266.21083|   Appliances|       Easypay|  42485|   cancelled|2020|   12|
|   17|100403077|2020-12-24| 657025|          2| 69.8| 69.8|       10.90455| 58.89545|Home & Living|       Easypay|  42485|   cancelled|2020|   12|
|   18|100403411|2020-12-24| 657547|          2|254.8|254.8|       39.80628|214.99372|   Appliances|       Easypay|  42485|   cancelled|2020|   12|
|   19|100403411|2020-12-24| 657548|          2|315.5|315.5|       49.28917|266.21083|   Appliances|       Easypay|  42485|   cancelled|2020|   12|
|   20|100403411|2020-12-24| 657549|          2| 69.8| 69.8|       10.90455| 58.89545|Home & Living|       Easypay|  42485|   cancelled|2020|   12|
|   21|100403502|2020-12-24| 657702|          2|254.8|254.8|       39.80628|214.99372|   Appliances|       Easypay|  42485|   cancelled|2020|   12|
+-----+---------+----------+-------+-----------+-----+-----+---------------+---------+-------------+--------------+-------+------------+----+-----+

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|  staging|   orders|      false|
|  staging|   stores|      false|
+---------+---------+-----------+

In [139]:
# Check existing tables and their schemas
spark.sql("SHOW TABLES IN staging").show()
spark.sql("DESCRIBE TABLE staging.orders").show(truncate=False)

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|  staging|   orders|      false|
|  staging|   stores|      false|
+---------+---------+-----------+

+---------------+---------+-------+
|col_name       |data_type|comment|
+---------------+---------+-------+
|index          |string   |NULL   |
|order_id       |string   |NULL   |
|order_date     |date     |NULL   |
|item_id        |string   |NULL   |
|qty_ordered    |int      |NULL   |
|price          |int      |NULL   |
|value          |float    |NULL   |
|discount_amount|float    |NULL   |
|total          |float    |NULL   |
|category       |string   |NULL   |
|payment_method |string   |NULL   |
|cust_id        |string   |NULL   |
|final_status   |string   |NULL   |
|year           |int      |NULL   |
|month          |int      |NULL   |
+---------------+---------+-------+